<div class="container">
  <!-- No data message -->
  <p *ngIf="Bus.length <= 0" class="no-data text-center">
    There is no employee added yet!
  </p>
  <!-- Employee list -->
   <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Ingresar un campo para buscar">
    </div>
  <table class="table table-bordered" *ngIf="Bus.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Bus ID</th>
        <th scope="col">Empresa</th>
        <th scope="col">Destino</th>
        <th scope="col">Origen</th>
        <th scope="col">Hora salida</th>
        <th scope="col center">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bus of Bus | filter:searchText; let i = index">
        <th scope="row">{{ bus.busId }}</th>
        <td>{{ bus.empresa }}</td>
        <td>{{ bus.destino }}</td>
        <td>{{ bus.origen }}</td>
        <td>{{ bus.horaSalida }}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-bus/',  bus.busId ]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="delete" (click)="removeBus(bus, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
